@charset "UTF-8";
@font-face {
  font-family: "Thirsty Script Extrabold Demo";
  src: url("../font/ThirstyScriptExtraBoldDemo.otf");
}
@font-face {
  font-family: "Open Sans";
  src: url("../font/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Open Sans Italic";
  src: url("../font/OpenSans-Italic.ttf");
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../font/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../font/OpenSans-Light.ttf");
}
@font-face {
  font-family: "UTM ViceroyJF";
  src: url("../font/UTM ViceroyJF.ttf");
}
@font-face {
  font-family: "Myriad Pro Reg";
  src: url("../font/Myriad Pro Regular.ttf");
}
@font-face {
  font-family: "Roboto Slab Light";
  src: url("../font/RobotoSlab-Light.ttf");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../font/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Lobster";
  src: url("../font/Lobster.ttf");
}
@font-face {
  font-family: "UTM Androgyne";
  src: url("../font/UTM Androgyne.ttf");
}
@font-face {
  font-family: "Thirsty Script Extrabold Demo";
  src: url("../font/ThirstyScriptExtraBoldDemo.otf");
}
@font-face {
  font-family: "Open Sans";
  src: url("../font/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Open Sans Italic";
  src: url("../font/OpenSans-Italic.ttf");
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../font/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../font/OpenSans-Light.ttf");
}
@font-face {
  font-family: "UTM ViceroyJF";
  src: url("../font/UTM ViceroyJF.ttf");
}
@font-face {
  font-family: "Myriad Pro Reg";
  src: url("../font/Myriad Pro Regular.ttf");
}
@font-face {
  font-family: "Roboto Slab Light";
  src: url("../font/RobotoSlab-Light.ttf");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../font/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Lobster";
  src: url("../font/Lobster.ttf");
}
@font-face {
  font-family: "UTM Androgyne";
  src: url("../font/UTM Androgyne.ttf");
}
.banner {
  background-color: #f1f1f1;
}
.banner__container {
  background-image: url("../img/bg_girl.PNG"), url("../img/cosmetic.PNG");
  background-position: 100% 30%, 6% 26.5%;
  background-repeat: no-repeat, no-repeat;
  min-height: 857px;
  position: relative;
}
.banner .ads {
  bottom: 48px;
  left: 0px;
  position: absolute;
}
.banner .ads__title {
  font-family: "UTM ViceroyJF";
  font-size: 142px;
  color: #789629;
  font-weight: 100;
  line-height: 142px;
  margin: 0;
}
.banner .ads__des {
  font-family: "Open Sans Light";
  font-size: 20px;
  color: #6c3c33;
  line-height: 26px;
  margin: 0;
}
.banner .ads__price {
  font-family: "Open Sans Light";
  font-size: 46px;
  color: #789629;
  line-height: 70px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
.banner .ads__price::after {
  bottom: 10px;
  content: "đ";
  font-size: 28px;
  position: relative;
  text-transform: lowercase;
}
.banner .ads__buy {
  text-align: center;
}
.banner .ads__link {
  font-family: "Open Sans Light";
  font-size: 18px;
  color: #1a1a1a;
  text-transform: uppercase;
}

.showicon {
  border-bottom: 1px solid #e7e7e7;
}

.selling-services {
  padding-top: 38px;
}
.selling-services__item {
  margin: 0 5px;
  text-align: center;
  width: 30%;
}
.selling-services__icon {
  font-size: 24px;
}
.selling-services__des {
  font-family: "Myriad Pro Reg";
  font-size: 14px;
  line-height: 30px;
  margin: 0;
}
.selling-services .divider {
  border-right: 1px solid #c2c2c2;
  margin: 10px 20px;
}

.row {
  margin-bottom: -8px;
}

.categories {
  margin-top: 35px;
}
.categories__multiple {
  width: 50%;
}
.categories__multiple .categories__item {
  height: 314px;
  display: flex;
}
.categories__introduce {
  width: 50%;
}
.categories__item .crown {
  width: 100%;
  height: 97%;
}
.categories__item {
  margin: 0 0 10px;
  position: relative;
  height: 100%;
}
.categories__item--bottom {
  margin: 0;
}
.categories__item img {
  width: 97%;
}
.categories__title {
  align-items: center;
  display: flex;
  height: 97%;
  justify-content: center;
  position: relative;
  width: 48.5%;
}
.categories__title--sunny {
  background-color: #e3ce33;
}
.categories__title--grapes {
  background-color: #cbd3df;
  order: -1;
}
.categories__title--sea {
  background-color: #88d8da;
  order: -1;
}
.categories__title--rose {
  background-color: #f49ac2;
}
.categories__title--last {
  width: 52%;
  display: block;
  margin-left: 1.5%;
}
.categories .control__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 104px;
  height: 104px;
  border-radius: 50%;
  background-color: #0e0e0e96;
  border: none;
  cursor: pointer;
  outline: none;
}
.categories .control__button::after {
  border-bottom: 20px solid transparent;
  border-left: 24px solid #000000;
  border-top: 20px solid transparent;
  content: "";
  left: 55%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.categories .title-link {
  font-family: "Roboto Slab Light";
  font-size: 30px;
  border-bottom: 1px solid;
  padding: 8px 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
.categories .title-link--dark {
  color: #1a1a1a;
  border-color: #1a1a1a;
}
.categories .title-link--light {
  color: #ffffff;
  border-color: #e7e7e7;
}
.categories .title-link--small {
  font-size: 22px;
}
.categories .title-link::after {
  content: "/////////";
  font-size: 16px;
  left: 50%;
  letter-spacing: 1px;
  padding: 0 5px;
  position: absolute;
  top: 80%;
  transform: translateX(-50%) skewX(-15deg) scaleY(0.6);
}
.categories .title-link--bg-sunny::after {
  background-color: #e3ce33;
}
.categories .title-link--bg-grapes::after {
  background-color: #cbd3df;
}
.categories .title-link--bg-sea::after {
  background-color: #88d8da;
}
.categories .title-special {
  color: #000000;
  display: block;
  text-align: center;
  text-decoration: none;
}
.categories .title-special__img {
  margin-top: 16px;
  width: 36%;
}
.categories .title-special__intro {
  font-family: "Lobster";
  font-size: 38px;
  margin-bottom: 0;
  margin-top: 5px;
}
.categories .title-special__daisy {
  margin: 0;
  text-transform: uppercase;
}
.categories .title-special__daisy :last-child {
  font-size: 28px;
  letter-spacing: 5px;
}

.saleoff img {
  margin-left: 3%;
}

.combo img {
  width: 98.4%;
  height: 97%;
}

.right {
  margin-left: 1.5%;
}
.right img {
  width: 100%;
  height: 97%;
}

.woman img {
  width: 100%;
}

.triangle-left::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid;
  content: "";
}
.triangle-left--sunny::before {
  border-right-color: #e3ce33;
}
.triangle-left--rose::before {
  border-right-color: #f49ac2;
}

.triangle-right::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid;
  content: "";
}
.triangle-right--grapes::before {
  border-left-color: #cbd3df;
}
.triangle-right--sea::before {
  border-left-color: #88d8da;
}

.review {
  background-image: url("../img/bg_flower.PNG");
  background-position: 93.5% 40%;
  background-repeat: no-repeat;
  padding-bottom: 68px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 82px;
}
.review__item::after {
  clear: both;
  content: "";
  display: block;
}
.review__item.slick-active .review__author {
  opacity: 1;
  transform: scale(1);
}
.review__item.slick-active .review__des {
  opacity: 1;
  transform: translateX(0);
}
.review__author {
  width: 146px;
  height: 146px;
  border-radius: 50%;
  border: 3px solid #e7e7e7;
  box-sizing: border-box;
  float: left;
  margin-top: 3px;
  opacity: 1;
  padding: 10px;
  position: relative;
  transform: scale(0.8);
  transition: all 1.2s ease-in-out;
}
.review__author-ava {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.review__des {
  float: left;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 28px;
  margin-left: 52px;
  opacity: 0;
  width: 570px;
  transform: translateX(100%);
  transition: all 1s ease-in-out;
}
.review__text {
  margin: 15px 0 0;
}
.review__text::before {
  color: #789629;
  content: '"';
  font-size: 24px;
}
.review__text::after {
  color: #789629;
  content: '"';
  font-size: 24px;
}
.review__signature {
  font-size: 14px;
  margin: 12px 0;
}
.review__signature :first-child {
  text-transform: uppercase;
}
.review__signature :last-child {
  color: #737373;
  font-family: "Open Sans Italic";
  padding: 0 8px;
}
.review .custom-dots {
  margin: 8px 0 0 200px;
  padding: 0;
  list-style-type: none;
}
.review .custom-dots > :nth-child(n) {
  background-color: #000000;
  display: inline-block;
  list-style-type: none;
  margin-right: 5px;
}
.review .custom-dots__item {
  display: block;
  width: 7px;
  height: 7px;
  cursor: pointer;
}
.review .custom-dots .slick-active {
  background-color: #818181;
}

.carousel-product {
  background-image: url("../img/bg_slider_piece.PNG");
  background-repeat: repeat;
  border-bottom: 1px solid #e7e7e7;
  box-sizing: border-box;
  min-height: 806px;
  padding-top: 65px;
}
.carousel-product__header {
  margin-bottom: 55px;
}
.carousel-product__main {
  position: relative;
}
.carousel-product__control {
  position: absolute;
  top: 192px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.carousel-product .nav {
  text-align: center;
  margin-left: 28%;
}
.carousel-product .nav__item:nth-child(n+2)::before {
  color: #818181;
  content: ".";
  font-size: 20px;
  padding: 12px;
}
.carousel-product .nav__link {
  font-family: "Open Sans";
  font-size: 14px;
  color: #818181;
  transition: 0.3s;
}
.carousel-product .nav__link:hover {
  color: #789629;
}
.carousel-product .first {
  padding-top: 6px;
}
.carousel-product .product {
  background-color: #ffffff;
  float: left;
  margin: 0 10px;
  position: relative;
  width: 270px;
}
.carousel-product .product:hover .product__interact {
  margin: 0;
  padding: 12px 0 25px;
  opacity: 1;
}
.carousel-product .product .product__img {
  border-bottom: 1px dashed #e7e7e7;
  margin: auto;
}
.carousel-product .product .product__name {
  font-family: "Open Sans Bold";
  font-size: 13px;
  color: #b4b4b4;
  display: block;
  margin-bottom: 3px;
  margin-top: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.carousel-product .product .product__type {
  font-family: "Open Sans";
  font-size: 16px;
  color: #000000;
  display: block;
  font-weight: 700;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.carousel-product .product .product__type::after {
  border-bottom: 1px solid #818181;
  content: "";
  left: 50%;
  padding: 16px 20px;
  position: absolute;
  transform: translateX(-50%);
}
.carousel-product .product .product__price {
  font-family: "Lobster";
  margin-bottom: 4px;
  padding: 5px 0;
  text-align: center;
}
.carousel-product .product .product__price :first-child {
  color: #789629;
  font-size: 18px;
}
.carousel-product .product .product__price :first-child::after {
  content: "đ";
  font-size: 12px;
  position: relative;
  top: -5px;
}
.carousel-product .product .product__price :nth-child(2) {
  color: #bababa;
  font-size: 14px;
}
.carousel-product .product .product__price :nth-child(2)::after {
  content: "đ";
  font-size: 8px;
  position: relative;
  top: -5px;
}
.carousel-product .product .product__interact {
  margin-top: -40px;
  text-align: center;
  transition: all 0.6s ease;
  opacity: 0;
}
.carousel-product .product .product__buy {
  font-family: "Open Sans";
  font-size: 14px;
  color: #1a1a1a;
  border: 2px solid #e7e7e7;
  border-radius: 15px;
  display: inline-block;
  font-weight: 700;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.6s;
}
.carousel-product .product .product__buy:hover {
  color: #789629;
}
.carousel-product .product .product__love {
  background-color: #789629;
  border: none;
  border-radius: 15px;
  color: #ffffff;
  cursor: pointer;
  margin: 0 6px;
  padding: 13px 15px;
}
.carousel-product .product .product__change {
  background: #ffffff;
  border: 2px solid #e7e7e7;
  border-radius: 15px;
  cursor: pointer;
  padding: 11px 13px;
}

.tab {
  margin-bottom: 70px;
  text-align: center;
}
.tab__item {
  display: inline-block;
  font-weight: 400;
  margin: 0;
  padding: 0 10px;
}
.tab__link {
  font-family: "UTM Androgyne";
  font-size: 18px;
  color: #c2c2c2;
  text-decoration: none;
}
.tab__active {
  color: #789629;
  font-size: 34px;
  position: relative;
}
.tab__active::after {
  content: url("../img/tab_active.PNG");
  left: 50%;
  position: absolute;
  top: 75%;
  transform: translateX(-50%);
}
.tab .divider {
  border-left: 1px solid #e7e7e7;
  padding: 5px 0;
}

.control-prev {
  background: transparent;
  border: none;
  cursor: pointer;
  left: 0;
  margin-left: 30px;
  position: absolute;
  transform: translateX(-100%);
}
.control-prev:focus {
  outline: none;
}
.control-next {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: 30px;
  position: absolute;
  right: 0;
  transform: translateX(100%);
}
.control-next:focus {
  outline: none;
}

.contact {
  padding-bottom: 80px;
  padding-top: 40px;
}
.contact__item {
  box-sizing: border-box;
  float: left;
  width: 33.33%;
  padding-left: 15px;
  padding-right: 15px;
}
.contact__title {
  font-family: "Open Sans Bold";
  font-size: 16px;
  margin-bottom: 13px;
  text-align: center;
  text-transform: uppercase;
}
.contact__title::after {
  content: url("../img/contact_bottom.PNG");
  display: block;
  padding: 6px 0;
  width: 100%;
}
.contact__intro {
  font-family: "Open Sans Bold";
  font-size: 12px;
  margin-top: 20px;
  text-transform: uppercase;
}
.contact__des {
  color: #5d5d5d;
  font-family: "Open Sans";
  font-size: 12px;
}

.social {
  margin-bottom: 46px;
  margin-left: 11%;
}
.social .nav {
  text-align: center;
  font-size: 0px;
}
.social .nav__item {
  padding: 6px 0px;
  transition: 0.6s;
  width: 173px;
}
.social .nav__link {
  font-family: "Open Sans Bold";
  font-size: 10px;
  color: #1a1a1a;
  text-transform: uppercase;
  transition: 0.6s;
  text-decoration: none;
}
.social .nav__link :hover {
  color: #789629;
}
.social .nav__link :hover .social__icon {
  border-color: #789629;
  color: #789629;
}

.social__icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #000000;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  vertical-align: middle;
  transition: 0.6s;
}
.social__icon :first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}

.about-us__intro {
  font-family: "Open Sans Bold";
  font-size: 12px;
  margin-top: 26px;
  margin-bottom: 14px;
  text-transform: uppercase;
}
.about-us__des {
  font-family: "Open Sans";
  font-size: 12px;
  color: #5d5d5d;
  line-height: 16px;
  margin-bottom: 16px;
  text-align: justify;
}
.about-us__see-more :first-child {
  font-family: "Open Sans";
  font-size: 12px;
  color: #5d5d5d;
  text-decoration: none;
}
.about-us__see-more :first-child:hover {
  color: #789629;
}

.blog__intro {
  border-bottom: 1px solid #e7e7e7;
  font-family: "Open Sans Bold";
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 10px;
  padding-bottom: 8px;
  text-transform: uppercase;
}
.blog__img {
  margin-top: 12px;
  width: 99%;
}
.blog__des {
  font-family: "Open Sans";
  font-size: 12px;
  color: #5d5d5d;
  line-height: 16px;
  margin: 0 0 3px;
}
.blog__author {
  font-family: "Open Sans Italic";
  font-size: 12px;
  color: #b4b4b4;
  border-bottom: 1px solid #e7e7e7;
  margin: 0;
  padding-bottom: 12px;
}
.blog__more {
  padding: 5px 0;
}
.blog__read-more {
  font-family: "Open Sans";
  font-size: 12px;
  color: #5d5d5d;
  text-decoration: none;
}
.blog__read-more:hover {
  color: #789629;
}
.blog__read-more :last-child {
  vertical-align: middle;
}
.blog__comment {
  font-family: "Open Sans";
  font-size: 12px;
  color: #5d5d5d;
  text-decoration: none;
}
.blog__comment:hover {
  color: #789629;
}

.mail-us {
  margin-bottom: 20px;
  text-align: center;
}
.mail-us__form {
  padding: 13px 0 11px;
}
.mail-us__email {
  box-sizing: border-box;
  border: 1px solid #bababa;
  font-family: "Open Sans Bold";
  font-size: 12px;
  padding: 8px 20px;
  width: 100%;
}
.mail-us__email:focus {
  outline: none;
  border-color: #789629;
}
.mail-us__des {
  font-family: "Open Sans Light";
  font-size: 12px;
  color: #8a8a8a;
  margin-top: 12px;
}
.mail-us__button {
  font-family: "Open Sans Bold";
  font-size: 12px;
  color: #ffffff;
  background-color: #000000;
  border: none;
  cursor: pointer;
  padding: 8px 28px;
  text-transform: uppercase;
  transition: 0.6s;
}
.mail-us__button:hover {
  background-color: #789629;
}

.tag-product__wrapper-item {
  padding: 10px 0;
}
.tag-product__item {
  font-family: "Open Sans";
  font-size: 12px;
  color: #6d6d6d;
  border: 1px solid #e7e7e7;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 4px 8px;
  transition: 0.3s;
}
.tag-product__item:hover {
  background-color: #789629;
  color: #ffffff;
  text-decoration: none;
}

.account {
  margin-top: 21%;
  margin-bottom: 13%;
}
.account__title {
  text-transform: uppercase;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 3%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 2%;
}

th {
  background-color: #f9f9f9;
  font-family: "Open Sans Bold";
}

th:nth-child(3) {
  text-transform: uppercase;
}

th:nth-child(4) {
  text-transform: uppercase;
}

th:nth-child(5) {
  text-transform: uppercase;
}

td:nth-child(3) {
  color: #ff0000;
}

td:nth-last-child(2)::after {
  content: "đ";
  font-size: 12px;
  position: relative;
  text-transform: lowercase;
  bottom: 4px;
}

td:nth-last-child(1)::after {
  content: "đ";
  font-size: 12px;
  position: relative;
  text-transform: lowercase;
  bottom: 4px;
}

.account-detail {
  margin-top: 71%;
}
.account-detail__title {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 12%;
}
.account-detail__name {
  font-size: 20px;
}
.account-detail__des {
  padding-left: 7%;
}

.contact-page__title {
  padding-top: 13%;
  padding-bottom: 2%;
  text-transform: uppercase;
}

.contact-page {
  padding-bottom: 7%;
}
.contact-page img {
  width: 100%;
}

.email-form {
  margin-top: 6%;
  display: flex;
  font-weight: 500;
}
.email-title {
  text-transform: uppercase;
}

.left {
  display: grid;
  width: 20%;
}
.left label:nth-child(1) {
  height: 0;
}
.left label:nth-child(2) {
  height: 6px;
}
.left label:nth-child(3) {
  height: 69px;
}

.right {
  width: 79%;
}
.right .email-form__name {
  width: 100%;
  margin-bottom: 6%;
}
.right .email-form__email {
  width: 100%;
  margin-bottom: 6%;
}
.right .email-form__message {
  width: 100%;
}

.send-contact {
  margin-left: 86%;
  width: 14%;
  margin-top: 5%;
  color: #fff;
  background-color: #232222;
  border: 1px solid;
  text-transform: uppercase;
  padding: 0.5% 1%;
}

.login {
  padding-top: 13%;
  display: flex;
  padding-bottom: 2%;
}
.login__title {
  text-transform: uppercase;
}
.login__submit {
  width: 9%;
  margin-left: 74%;
  text-transform: uppercase;
  height: fit-content;
  color: #fff;
  background-color: #232222;
  border: 1px solid;
  font-size: 17px;
  padding: 0.5% 1%;
}
.login-detail {
  margin-bottom: 5%;
  border: 1px solid #dedbdb;
  padding: 5%;
  background-color: #f1f1f1;
}
.login-detail__des {
  font-weight: 500;
  padding: 1% 0 3%;
}
.login-form {
  display: grid;
  font-weight: 500;
}
.login-form__submit {
  text-transform: uppercase;
  height: fit-content;
  color: #fff;
  background-color: #232222;
  border: 1px solid;
  padding: 0.5% 1%;
  width: 13%;
  margin-left: 3%;
}
.login-form__email {
  width: 50%;
  border: 1px solid #dedbdb;
  margin-bottom: 1%;
}
.login-form__password {
  width: 50%;
  border: 1px solid #dedbdb;
  margin-bottom: 3%;
}

.register {
  padding: 13% 0 2%;
}
.register-detail {
  margin-bottom: 5%;
  border: 1px solid #dedbdb;
  padding: 5%;
  background-color: #f1f1f1;
}
.register-detail__title {
  text-transform: uppercase;
}
.register-des__checkbox {
  display: inline;
}

.user-form {
  display: grid;
  margin-bottom: 2%;
  font-weight: 500;
}

.login-form {
  display: grid;
  font-weight: 500;
}
.login-form__button {
  margin-top: 3%;
}

.user-form__first, .user-form__last, .user-form__email, .user-form__password, .login-form__password {
  margin-bottom: 1%;
}

.send {
  color: #fff;
  background-color: #232222;
  border: 1px solid;
  text-transform: uppercase;
  padding: 0.5% 1%;
}

.return {
  float: right;
  color: #fff;
  background-color: #232222;
  border: 1px solid;
  text-transform: uppercase;
  padding: 0.5% 1%;
}

.about {
  padding-top: 10%;
  margin-bottom: 5%;
}
.about_us {
  width: 100%;
}

.blog-page {
  padding-top: 8%;
  padding-bottom: 3%;
}
.blog-page-title {
  text-transform: uppercase;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 3%;
}

.list1 {
  margin-bottom: 9%;
}
.list1 .blog1 {
  margin-top: 8%;
  width: 100%;
  height: 83%;
}
.list1 .blog1 .aspect {
  display: block;
  position: relative;
  padding-top: 56.25%;
}
.list1 .blog1 .aspect img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.list1 .blog1 .white {
  display: flex;
}
.list1 .blog1 .white .white-left {
  width: 43%;
  background-color: #fff;
  color: #fff;
  margin-top: -8%;
  position: relative;
  margin-right: 14%;
}
.list1 .blog1 .white .white-left::after {
  content: "";
  color: #fff;
  position: absolute;
  left: 100%;
  border-top: 28px solid transparent;
  border-left: 25px solid;
}
.list1 .blog1 .white .white-right {
  width: 43%;
  background-color: #fff;
  color: #fff;
  margin-top: -8%;
  position: relative;
}
.list1 .blog1 .white .white-right::before {
  position: absolute;
  left: -17%;
  border-top: 28px solid transparent;
  border-right: 26px solid;
  content: "";
  color: #fff;
}
.list1 .blog-detail {
  margin-top: -13%;
}
.list1 .blog-detail__title {
  text-transform: uppercase;
  padding-bottom: 2%;
  font-weight: 700;
  font-size: 12px;
}
.list1 .blog-detail__content {
  font-size: 13px;
  color: #615f5f;
  padding-top: 2%;
}
.list1 .blog-detail__author {
  font-family: "Open Sans Italic";
  font-size: 12px;
  color: #b4b4b4;
  border-bottom: 1px solid #e7e7e7;
  margin: 0;
  padding-bottom: 12px;
}
.list1 .blog-detail__more a {
  color: #615f5f;
}
.list1 .blog-detail__more a:nth-last-child(1) {
  float: right;
}

body {
  margin: 0;
}

.header {
  background-color: rgba(244, 244, 244, 0.4);
  border-bottom: 1px solid #e7e7e7;
  min-height: 78px;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.header__nav {
  font-family: "Open Sans Bold";
  font-size: 0px;
}
.header__logo {
  margin: 0;
  padding: 13px 5px;
  position: relative;
}
.header__logo::first-letter {
  font-size: 36px;
  color: #ffffff;
  font-weight: 100;
  padding-right: 15px;
}
.header__logo::after {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #789629;
  content: "";
  display: block;
  left: 1px;
  position: absolute;
  top: 12px;
  z-index: -1;
}
.header__logo a {
  font-family: "Thirsty Script Extrabold Demo";
  font-size: 34px;
  color: #1a1a1a;
  text-decoration: none;
}
.header .nav {
  margin-left: 120px;
  margin-top: 30px;
}
.header .nav__item {
  font-size: 12px;
  padding-bottom: 4px;
  padding-top: 4px;
  text-transform: uppercase;
}
.header .nav__item:nth-child(n+2) {
  margin-left: 38px;
}
.header .nav__item:hover .nav__children {
  opacity: 1;
  transform: scale(1);
}
.header .nav__link {
  color: #1a1a1a;
  text-decoration: none;
  transition: 0.6s;
  padding: 18px 0;
}
.header .nav__link :first-child {
  position: absolute;
  padding: 4px 6px 24px;
}
.header .nav__children {
  margin-top: 0;
  margin-left: -211px;
  opacity: 0;
  position: absolute;
  top: 100%;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
  background-color: rgba(253, 252, 252, 0.8);
  border: 1.5px solid #789629;
}
.header .nav__children .nav__item {
  display: inline-block;
  padding: 10px 15px;
  margin: 0;
}
.header .nav__children .nav__item .nav__link::after {
  content: "";
  background-color: #cec9c9;
  display: block;
  height: 1px;
  width: 150px;
}
.header__right {
  font-size: 12px;
  margin-left: auto;
  margin-top: 25px;
  padding: 0 10px;
}
.header .shopping-cart {
  float: left;
}
.header .shopping-cart__link {
  color: #1a1a1a;
  display: inline-block;
  padding: 10px 18px;
  transition: 0.6s;
}
.header .shopping-cart__link:hover {
  color: #789629;
}
.header .form-search {
  float: left;
  margin-left: 25px;
  position: relative;
}
.header .form-search__input-container {
  position: absolute;
  overflow: hidden;
  right: 20px;
  top: 0;
  width: 360px;
  transition: all 0.6s ease-in-out;
}
.header .form-search__hidden {
  width: 0px;
}
.header .form-search__button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 5px;
  width: 25px;
  transition: 0.6s;
}
.header .form-search__button:hover {
  color: #789629;
}
.header .form-search__button:focus {
  outline: none;
}
.header .form-search__main {
  width: 360px;
}
.header .form-search__input {
  width: 260px;
  border: 1px solid #8a8a8a;
  border-radius: 10px;
  padding: 10px 30px;
}
.header .form-search__input:focus {
  border-color: #789629;
  outline: none;
}

.nav {
  margin: 0;
  padding: 0;
}
.nav__item {
  display: inline-block;
  list-style-type: none;
}
.nav__item--care {
  list-style-type: none;
  padding: 9% 0 0;
  font-size: 12px;
  font-family: monospace;
}
.nav__item a:hover {
  color: #789629;
}
.nav__children--care a {
  text-decoration: none;
  color: #1f1e1e;
  text-transform: none;
}

.triangle-up::before {
  height: 0px;
  border-left: 11px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 11px solid transparent;
  content: "";
  margin-top: -10px;
  transform: translateX(232px);
}
.triangle-up--green::before {
  border-bottom-color: #789629;
}

.footer {
  background-color: #000000;
}
.footer__end {
  border-top: 1px solid #131313;
  padding: 20px 0;
}

.main-footer {
  padding-bottom: 18px;
  padding-top: 52px;
}
.main-footer .row {
  margin-left: -15px;
  margin-right: -15px;
}
.main-footer__item {
  width: 16.67%;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 5px;
}
.main-footer__title {
  font-family: "Open Sans";
  font-size: 18px;
  color: #b4b4b4;
  margin: 0;
  text-transform: uppercase;
}
.main-footer .footer-others {
  box-sizing: border-box;
}
.main-footer .footer-others__content {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
.main-footer .footer-others__item {
  margin-bottom: 5px;
}
.main-footer .footer-others__link {
  font-family: "Open Sans Light";
  font-size: 14px;
  color: #5d5d5d;
  font-weight: font-weight7;
  line-height: 25px;
  text-decoration: none;
  transition: 0.6s;
}
.main-footer .footer-others__link:hover {
  color: #789629;
}
.main-footer .footer-others__link:hover::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 3px 6px 3px 0;
  background-color: #789629;
}

.contact-us {
  width: 33%;
}
.contact-us__content {
  box-sizing: border-box;
  padding-right: 50px;
}
.contact-us__address {
  font-family: "Roboto Regular";
  font-size: 14px;
  color: #464646;
  margin: 8px 0;
  font-weight: font-weight7;
  line-height: 30px;
  margin-top: 20px;
}
.contact-us__address :first-child {
  color: #789629;
  float: left;
  margin-right: 10px;
  margin-top: 6px;
}
.contact-us__address :last-child {
  display: block;
  overflow: hidden;
}
.contact-us__address::after {
  clear: both;
  content: "";
  display: block;
}
.contact-us__others {
  font-family: "Roboto Regular";
  font-size: 14px;
  color: #464646;
  margin: 8px 0;
}
.contact-us__others:last-child {
  text-decoration: none;
  color: #789629;
  font-style: italic;
  margin-left: 20px;
}
.contact-us__item {
  font-weight: font-weight7;
  transition: 0.6s;
}
.contact-us__item:last-child {
  text-decoration: none;
  color: #789629;
  font-style: italic;
  margin-left: 20px;
}
.contact-us__item :first-child {
  color: #789629;
  margin-right: 6px;
}
.contact-us__hyphen {
  margin: 0 5px;
}

.copyright {
  margin-right: auto;
  margin-top: 4px;
}
.copyright__text {
  font-family: "Roboto Regular";
  font-size: 12px;
  color: #5d5d5d;
  margin: 0;
}

.payment__type {
  display: inline-block;
  padding-left: 15px;
  vertical-align: middle;
}

/*# sourceMappingURL=main.css.map */
