.blog-page {
  padding-top: 8%;
  padding-bottom: 3%;

  &-title {
    text-transform: uppercase;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 3%;
  }
}

.list1 {
  margin-bottom: 9%;

  .blog1 {
    margin-top: 8%;
    width: 100%;
    height: 83%;

    .aspect {
      display: block;
      position: relative;
      padding-top: 56.25%;

      img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }

    .white {
      display: flex;

      .white-left {
        width: 43%;
        background-color: #fff;
        color: #fff; 
        margin-top: -8%;
        position: relative;
        margin-right: 14%;

        &::after {
          content: '';
          color: #fff;
          position: absolute;
          left: 100%;
          border-top: 28px solid transparent;
          border-left: 25px solid;
        }
      }

      .white-right {
        width: 43%;
        background-color: #fff;
        color: #fff; 
        margin-top: -8%;
        position: relative;

        &::before {
          position: absolute;
          left: -17%;
          border-top: 28px solid transparent;
          border-right: 26px solid;
          content: '';
          color: #fff;
        }
      }
    }
  }

  .blog-detail {
    margin-top: -32%;
    
    &__title {
      text-transform: uppercase;
      padding-bottom: 2%;
      font-weight: 700;
      font-size: 12px;
    }
  
    &__content {
      font-size: 13px;
      color: #615f5f;
      padding-top: 2%;
    }
  
    &__author {
      font-family: "Open Sans Italic";
      font-size: 12px;
      color: #b4b4b4;
      border-bottom: 1px solid #e7e7e7;
      margin: 0;
      padding-bottom: 12px;
    }
  
    &__more a {
      color: #615f5f;
  
      &:nth-last-child(1) {
        float: right;
      }
    }
  }
}








