@import 'variable';

.banner {
	background-color: $color15;
	&__container {
		background-image: url("#{$img}/bg_girl.PNG"), url("#{$img}/cosmetic.PNG");
		background-position: 100% 30%, 6% 26.5%;
		background-repeat: no-repeat, no-repeat;
		min-height: 857px;
		position: relative;
	}
	.ads {
		bottom: 48px;
		left: 0px;
		position: absolute;
		&__title {
			font-family: $font6;
			font-size: 142px;
			color: $color2;
			font-weight: 100;
			line-height: 142px;
			margin: 0;
		}
		&__des {
			font-family: $font5;
			font-size: 20px;
			color: $color16;
			line-height: 26px;
			margin: 0;
		}
		&__price {
			font-family: $font5;
			font-size: 46px;
			color: $color2;
			line-height: 70px;
			margin: 0;
			text-align: center;
			text-transform: uppercase;
			&::after {
				bottom: 10px;
				content: "đ";
				font-size: 28px;
				position: relative;
				text-transform: lowercase;
			}
		}
		&__buy {
			text-align: center;
		}
		&__link {
			font-family: $font5;
			font-size: 18px;
			color: $color7;
			text-transform: uppercase;
		}
	}
}

.showicon {
	border-bottom: 1px solid $color5;
}

.selling-services {
	padding-top: 38px;
	&__item {
		margin: 0 5px;
		text-align: center;
		width: 30%;
	}
	&__icon {
		font-size: 24px;
	}
	&__des {
		font-family: $font7;
		font-size: 14px;
		line-height: 30px;
		margin: 0;
	}
	.divider {
		border-right: 1px solid $color17;
		margin: 10px 20px;
	}
}

.row {
	margin-bottom: -8px;
}

.categories {
	margin-top: 35px;
	&__multiple {
		width: 50%;
		.categories {
			&__item {
				height: 314px;
				display: flex;
			}
		}
	}
	&__introduce {
		width: 50%;
	}
	&__item .crown {
		width: 100%;
		height: 97%;
	}
	&__item {
		margin: 0 0 10px;
		position: relative;
		height: 100%;
		&--bottom {
			margin: 0;
		}
		img {
			width: 97%;
		}
	}
	&__title {
		align-items: center;
		display: flex;
		height: 97%;
		justify-content: center;
		position: relative;
		width: 48.5%;
		&--sunny {
			background-color: $color18;
		}
		&--grapes {
			background-color: $color19;
			order: -1;
		}
		&--sea {
			background-color: $color20;
			order: -1;
		}
		&--rose {
			background-color: $color21;
		}
		&--last {
			width: 52%;
			display: block;
			margin-left: 1.5%;
		}
	}
	.control__button {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 104px;
		height: 104px;
		border-radius: 50%;
		background-color: $color22;
		border: none;
		cursor: pointer;
		outline: none;
		&::after {
			border-bottom: 20px solid transparent;
			border-left: 24px solid $color11;
			border-top: 20px solid transparent;
			content: "";
			left: 55%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.title-link {
		font-family: $font8;
		font-size: 30px;
		border-bottom: 1px solid;
		padding: 8px 0;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		&--dark {
			color: $color7;
			border-color: $color7;
		}
		&--light {
			color: $color3;
			border-color: $color5;
		}
		&--small {
			font-size: 22px;
		}
		&::after {
			content: "/////////";
			font-size: 16px;
			left: 50%;
			letter-spacing: 1px;
			padding: 0 5px;
			position: absolute;
			top: 80%;
			transform: translateX(-50%) skewX(-15deg) scaleY(0.6);
		}
		&--bg-sunny::after {
			background-color: $color18;
		}
		&--bg-grapes::after {
			background-color: $color19;
		}
		&--bg-sea::after {
			background-color: $color20;
		}
	}
	.title-special {
		color: $color11;
		display: block;
		text-align: center;
		text-decoration: none;
		&__img {
			margin-top: 16px;
			width: 36%;
		}
		&__intro {
			font-family: $font10;
			font-size: 38px;
			margin-bottom: 0;
			margin-top: 5px;
		}
		&__daisy {
			margin: 0;
			text-transform: uppercase;
			:last-child {
				font-size: 28px;
				letter-spacing: 5px;
			}
		}
	}
}

.saleoff img {
	margin-left: 3%;
}

.combo img {
	width: 98.4%;
	height: 97%;
}

.right {
	margin-left: 1.5%;
	img {
		width: 100%;
		height: 97%;
	}
}

.woman img {
	width: 100%;
}

.triangle-left {
	&::before {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -20px;
		width: 0;
		height: 0;
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		border-right: 20px solid;
		content: "";
	}
	&--sunny::before {
		border-right-color: $color18;
	}
	&--rose::before {
		border-right-color: $color21;
	}
}

.triangle-right {
	&::before {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: -20px;
		width: 0;
		height: 0;
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		border-left: 20px solid;
		content: "";
	}
	&--grapes::before {
		border-left-color: $color19;
	}
	&--sea::before {
		border-left-color: $color20;
	}
}

.review {
	background-image: url("#{$img}/bg_flower.PNG");
	background-position: 93.5% 40%;
	background-repeat: no-repeat;
	padding-bottom: 68px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 82px;
	&__item {
		&::after {
			clear: both;
			content: "";
			display: block;
		}
		&.slick-active {
			.review {
				&__author {
					opacity: 1;
					transform: scale(1);
				}

				&__des {
					opacity: 1;
					transform: translateX(0);
				}
			}
		}
	}
	&__author {
		width: 146px;
		height: 146px;
		border-radius: 50%;
		border: 3px solid $color5;
		box-sizing: border-box;
		float: left;
		margin-top: 3px;
		opacity: 1;
		padding: 10px;
		position: relative;
		transform: scale(0.8);
		transition: all 1.2s ease-in-out;
		&-ava {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
		}
	}
	&__des {
		float: left;
		font-family: $font2;
		font-size: 16px;
		line-height: 28px;
		margin-left: 52px;
		opacity: 0;
		width: 570px;
		transform: translateX(100%);
		transition: all 1s ease-in-out;
	}
	&__text {
		margin: 15px 0 0;
		&::before {
			color: $color2;
			content: '"';
			font-size: 24px;
		}
		&::after {
			color: $color2;
			content: '"';
			font-size: 24px;
		}
	}
	&__signature {
		font-size: 14px;
		margin: 12px 0;
		:first-child {
			text-transform: uppercase;
		}
		:last-child {
			color: $color23;
			font-family: $font3;
			padding: 0 8px;
		}
	}
	.custom-dots {
		margin: 8px 0 0 200px;
		padding: 0;
		list-style-type: none;
		> :nth-child(n) {
			background-color: $color11;
			display: inline-block;
			list-style-type: none;
			margin-right: 5px;
		}
		&__item {
			display: block;
			width: 7px;
			height: 7px;
			cursor: pointer;
		}
		.slick-active {
			background-color: $color24;
		}
	}
}

.carousel-product {
	background-image: url("#{$img}/bg_slider_piece.PNG");
	background-repeat: repeat;
	border-bottom: 1px solid $color5;
	box-sizing: border-box;
	min-height: 806px;
	padding-top: 65px;
	&__header {
		margin-bottom: 55px;
	}
	&__main {
		position: relative;
	}
	&__control {
		position: absolute;
		top: 192px;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
	}
	.nav {
		text-align: center;
		margin-left: 28%;
		&__item:nth-child(n+2)::before {
			color: $color24;
			content: '.';
			font-size: 20px;
			padding: 12px;
		}
		&__link {
			font-family: $font2;
			font-size: 14px;
			color: $color24;
			transition: 0.3s;
			&:hover {
				color: $color2;
			}
		}
	}
	.first {
		padding-top: 6px;
	}
	.product {
		background-color: $color3;
		float: left;
		margin: 0 10px;
		position: relative;
		width: 270px;
		&:hover .product {
			&__interact {
				margin: 0;
				padding: 12px 0 25px;
				opacity: 1;
			}
		}
		.product {
			&__img {
				border-bottom: 1px dashed $color5;
				margin: auto;
				}
			&__name {
				font-family: $font4;
				font-size: 13px;
				color: $color13;
				display: block;
				margin-bottom: 3px;
				margin-top: 18px;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
			}
			&__type {
				font-family: $font2;
				font-size: 16px;
				color: $color11;
				display: block;
				font-weight: 700;
				position: relative;
				text-align: center;
				text-decoration: none;
				&::after {
					border-bottom: 1px solid $color24;
					content: '';
					left: 50%;
					padding: 16px 20px;
					position: absolute;
					transform: translateX(-50%);
				}
			}
			&__price {
				font-family: $font10;
				margin-bottom: 4px;
				padding: 5px 0;
				text-align: center;
				:first-child {
					color: $color2;
					font-size: 18px;
					&::after {
						content: 'đ';
						font-size: 12px;
						position: relative;
						top: -5px;
					}
				}
				:nth-child(2) {
					color: $color25;
					font-size: 14px;
					&::after {
						content: 'đ';
						font-size: 8px;
						position: relative;
						top: -5px;
					}
				}
			}
			&__interact {
				margin-top: -40px;
				text-align: center;
				transition: all 0.6s ease;
				opacity: 0;
			}
			&__buy {
				font-family: $font2;
				font-size: 14px;
				color: $color7;
				border: 2px solid $color5;
				border-radius: 15px;
				display: inline-block;
				font-weight: 700;
				padding: 10px 20px;
				text-decoration: none;
				text-transform: uppercase;
				transition: 0.6s;
				&:hover {
					color: $color2;
				}
			}
			&__love {
				background-color: $color2;
				border: none;
				border-radius: 15px;
				color: $color3;
				cursor: pointer;
				margin: 0 6px;
				padding: 13px 15px;
			}
			&__change {
				background: $color3;
				border: 2px solid $color5;
				border-radius: 15px;
				cursor: pointer;
				padding: 11px 13px;
			}
		}
	}
}

.tab {
	margin-bottom: 70px;
	text-align: center;
	&__item {
		display: inline-block;
		font-weight: 400;
		margin: 0;
		padding: 0 10px;
	}
	&__link {
		font-family: $font11;
		font-size: 18px;
		color: $color17;
		text-decoration: none;
	}
	&__active {
		color: $color2;
		font-size: 34px;
		position: relative;
		&::after {
			content: url("#{$img}/tab_active.PNG");
			left: 50%;
			position: absolute;
			top: 75%;
			transform: translateX(-50%);
		}
	}
	.divider {
		border-left: 1px solid $color5;
		padding: 5px 0;
	}
}

.control {
	&-prev {
		background: transparent;
		border: none;
		cursor: pointer;
		left: 0;
		margin-left: 30px;
		position: absolute;
		transform: translateX(-100%);
		&:focus {
			outline: none;
		}
	}
	&-next {
		background: transparent;
		border: none;
		cursor: pointer;
		margin-right: 30px;
		position: absolute;
		right: 0;
		transform: translateX(100%);
		&:focus {
			outline: none;
		}
	}
}

.contact {
	padding-bottom: 80px;
	padding-top: 40px;
	&__item {
		box-sizing: border-box;
		float: left;
		width: 33.33%;
		padding-left: 15px;
		padding-right: 15px;
	}
	&__title {
		font-family: $font4;
		font-size: 16px;
		margin-bottom: 13px;
		text-align: center;
		text-transform: uppercase;
		&::after {
			content: url("#{$img}/contact_bottom.PNG");
			display: block;
			padding: 6px 0;
			width: 100%;
		}
	}
	&__intro {
		font-family: $font4;
		font-size: 12px;
		margin-top: 20px;
		text-transform: uppercase;
	}
	&__des {
		color: $color14;
		font-family: $font2;
		font-size: 12px;
	}
}

.social {
	margin-bottom: 46px;
	margin-left: 11%;
	.nav {
		text-align: center;
		font-size: 0px;
		&__item {
			padding: 6px 0px;
			transition: 0.6s;
			width: 173px;
		}
		&__link {
			font-family: $font4;
			font-size: 10px;
			color: $color7;
			text-transform: uppercase;
			transition: 0.6s;
			text-decoration: none;
			:hover {
				color: $color2;
				.social__icon {
					border-color: $color2;
					color: $color2;
				}
			}
		}
	}
}

.social {
	&__icon {
		width: 24px;
		height: 24px;
		border-radius: 50%;
		border: 2px solid $color11;
		display: inline-block;
		margin-right: 10px;
		position: relative;
		vertical-align: middle;
		transition: 0.6s;
		:first-child {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 15px;
		}
	}
}

.about-us {
	&__intro {
		font-family: $font4;
		font-size: 12px;
		margin-top: 26px;
		margin-bottom: 14px;
		text-transform: uppercase;
	}
	&__des {
		font-family: $font2;
		font-size: 12px;
		color: $color14;
		line-height: 16px;
		margin-bottom: 16px;
		text-align: justify;
	}
	&__see-more :first-child {
		font-family: $font2;
		font-size: 12px;
		color: $color14;
		text-decoration: none;
		&:hover {
			color: $color2;
		}
	}
}

.blog {
	&__intro {
		border-bottom: 1px solid $color5;
		font-family: $font4;
		font-size: 12px;
		margin-top: 8px;
		margin-bottom: 10px;
		padding-bottom: 8px;
		text-transform: uppercase;
	}
	&__img {
		margin-top: 12px;
		width: 99%
	}
	&__des {
		font-family: $font2;
		font-size: 12px;
		color: $color14;
		line-height: 16px;
		margin: 0 0 3px;
	}
	&__author {
		font-family: $font3;
		font-size: 12px;
		color: $color13;
		border-bottom: 1px solid $color5;
		margin: 0;
		padding-bottom: 12px;
	}
	&__more {
		padding: 5px 0;
	}
	&__read-more {
		font-family: $font2;
		font-size: 12px;
		color: $color14;
		text-decoration: none;
		&:hover {
			color: $color2;
		}
		:last-child {
			vertical-align: middle;
		}
	}
	&__comment {
		font-family: $font2;
		font-size: 12px;
		color: $color14;
		text-decoration: none;
		&:hover {
			color: $color2;
		}
	}
}

.mail-us {
	margin-bottom: 20px;
	text-align: center;
	&__form {
		padding: 13px 0 11px;
	}
	&__email {
		box-sizing: border-box;
		border: 1px solid $color25;
		font-family: $font4;
		font-size: 12px;
		padding: 8px 20px;
		width: 100%;
		&:focus {
			outline: none;
			border-color: $color2;
		}
	}
	&__des {
		font-family: $font5;
		font-size: 12px;
		color: $color9;
		margin-top: 12px;
	}
	&__button {
		font-family: $font4;
		font-size: 12px;
		color: $color3;
		background-color: $color11;
		border: none;
		cursor: pointer;
		padding: 8px 28px;
		text-transform: uppercase;
		transition: 0.6s;
		&:hover {
			background-color: $color2;
		}
	}
}

.tag-product {
	&__wrapper-item {
		padding: 10px 0;
	}
	&__item {
		font-family: $font2;
		font-size: 12px;
		color: $color26;
		border: 1px solid $color5;
		display: inline-block;
		margin-bottom: 5px;
		margin-right: 5px;
		padding: 4px 8px;
		transition: 0.3s;
	&:hover {
			background-color: $color2;
			color: $color3;
			text-decoration: none;
			}
	}
}
