@charset "UTF-8";
@font-face {
	font-family: "Thirsty Script Extrabold Demo";
	src: url("../font/ThirstyScriptExtraBoldDemo.otf");
}

@font-face {
	font-family: "Open Sans";
	src: url("../font/OpenSans-Regular.ttf");
}

@font-face {
	font-family: "Open Sans Italic";
	src: url("../font/OpenSans-Italic.ttf");
}

@font-face {
	font-family: "Open Sans Bold";
	src: url("../font/OpenSans-Bold.ttf");
}

@font-face {
	font-family: "Open Sans Light";
	src: url("../font/OpenSans-Light.ttf");
}

@font-face {
	font-family: "UTM ViceroyJF";
	src: url("../font/UTM ViceroyJF.ttf");
}

@font-face {
	font-family: "Myriad Pro Reg";
	src: url("../font/Myriad Pro Regular.ttf");
}

@font-face {
	font-family: "Roboto Slab Light";
	src: url("../font/RobotoSlab-Light.ttf");
}

@font-face {
	font-family: "Roboto Regular";
	src: url("../font/Roboto-Regular.ttf");
}

@font-face {
	font-family: "Lobster";
	src: url("../font/Lobster.ttf");
}

@font-face {
	font-family: "UTM Androgyne";
	src: url("../font/UTM Androgyne.ttf");
}
