$font1: "Thirsty Script Extrabold Demo";

$font2: "Open Sans";

$font3: "Open Sans Italic";

$font4: "Open Sans Bold";

$font5: "Open Sans Light";

$font6: "UTM ViceroyJF";

$font7: "Myriad Pro Reg";

$font8: "Roboto Slab Light";

$font9: "Roboto Regular";

$font10: "Lobster";

$font11: "UTM Androgyne";
$color1: #464646;
$color2: #789629;
$color3: #fff;
$color4: rgba(244, 244, 244, 0.4);
$color5: #e7e7e7;
$color6: #cec9c9;
$color7: #1a1a1a;
$color8: rgba(253, 252, 252, 0.8);
$color9: #8a8a8a;
$color10: #1f1e1e;
$color11: #000;
$color12: #131313;
$color13: #b4b4b4;
$color14: #5d5d5d;
$color15: #f1f1f1;
$color16: #6c3c33;
$color17: #c2c2c2;
$color18: #e3ce33;
$color19: #cbd3df;
$color20: #88d8da;
$color21: #f49ac2;
$color22: rgb(14, 14, 14);
$color23: #737373;
$color24: #818181;
$color25: #bababa;
$color26: #6d6d6d;

$font-weight1: 100;
$font-weight7: 700;
$font-size1: 14px;
$font-size2: 0px;
$font-size3: 36px;
$font-size4: 34px;
$font-size5: 12px;
$font-size6: 18px;

$border-radius1: 50%;
$border-radius2: 10px;

$img : "../img";

$paddingtop1: 17%;
$paddingtop2: 13%;
$paddingtop3: 10%;

$bordertop1: 36px solid transparent;
$bordertop2: 41px solid transparent;
$bordertop3: 28px solid transparent;
