extend pug/_layout

block main
  //body
  .container.about
    h2.about-title Về chúng tôi
    .row
      .col-md-6
        img(src="img/about_us.jpg")
      .col-md-6
        .contact__item.about_us
            p.header__logo
              a(href='#')
                | Mandala
            .about-us__detail
              p.about-us__intro
                | Giới thiệu chung về mỹ phẩm handmade Madala
              p.about-us__des
                | Hi, chào các nàng... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày
                | đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.
                | Hi, chào các nàng... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày
                | đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.
                | Hi, chào các nàng... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày
                | đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.
              .about-us__see-more
                a(href='#') Xem thêm
