-
  var listTableAccount = [
    {order:'#1006', date:'May 13, 2013', status:'Đã thanh toán', sum:'350.000', want:'0'},
    {order:'#1006', date:'May 13, 2013', status:'Đã thanh toán', sum:'350.000', want:'0'},
    {order:'#1006', date:'May 13, 2013', status:'Đã thanh toán', sum:'350.000', want:'0'},
    {order:'#1006', date:'May 13, 2013', status:'Đã thanh toán', sum:'350.000', want:'275.000'}
  ]

-
  var listNew = [
    {img: 'oil_yellow.JPG', name: 'Home'},
    {img: 'nail_pink.JPG', name: 'Debora'},
    {img: 'wash_bottle.JPG', name: 'Sarvon'},
    {img: 'cream_other.JPG', name: 'Tiffany'},
    {img: 'lipstick_blue.JPG', name: 'Ohui'}
  ]

-var listIcon = ['Facebook', 'Twitter', 'Instagram', 'Google+', 'Pinterest', 'Linkedin']

-var listProduct = ['Đồng hồ', 'Túi', 'Phụ kiện','Đồng hồ', 'Túi', 'Giày', 'Sandal', 'Áo sơ mi', 'Nước hoa', 'Giày', 'Sandal', 'Trẻ em', 'Thời trang nữ', 'Trẻ em', 'Thời trang nữ']

-var listImg = ['blog_detail2.jpg','blog_detail3.jpg','blog8.jpg']

-var listProductBlog = ['Đồng hồ', 'Túi', 'Phụ kiện','Giày', 'Sandal', 'Áo sơ mi', 'Nước hoa','Trẻ em', 'Thời trang nữ']

-var listImg1 = ['blog1.jpg', 'blog7.jpg','blog2.jpg','blog8.jpg','blog3.jpg','blog4.jpg','author_ava.JPG','blog5.jpg','blog6.jpg']
